/* Reset CSS*/
* {
    
    margin: 0;
    padding: 0;
    border: 0;

}

body{

    font-family: 'Lora', serif;

}

.modalInicio{

    border: 1px solid;
    height: 600px;
    width: 1000px;
    margin: 200px auto;

}

.infos, .imgInicio{

    display: inline-block;    

}

.imgInicio img{

    height: 600px;
    width: 500px;
}

.infos{

    float: right; 
    height: 600px;   

}

.nomeLogo, .infosRight, .botoes{

    align-items: center;
    display: flex;
    justify-content: center;
    margin: 50px 0;
    width: 500px;

}

.nomeLogo{

    font-size: 27px;

}

.infosRight{

    height: 100px;

}

.infosRight p{

    margin: 0px 25px;
    text-align: center;

}

.signIn, .signUp{

    display: inline-block;

}

.botoes {

    height: 100px;
}

.botoes button{
    
    border-radius: 20px;
    height: 45px;
    width: 150px;
    margin: 0px 25px;
    text-align: center;

}